src/main/mule/salesforce-upsert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="salesforceUpsertFlow" doc:id="190f14ad-a8ee-4a8f-9103-b83330a729b5" >
		<ee:transform doc:name="upsert input payload" doc:id="8bf950d8-6234-4475-aa8c-02b246cb35dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="salesforce upsert" doc:id="71f82cc9-93e2-44d4-b45c-7d491b1e5b57" config-ref="Salesforce_Config" objectType="#[attributes.queryParams.objectType]" externalIdFieldName="#[attributes.queryParams.externalId]"/>
		<ee:transform doc:name="upsert output to json" doc:id="3ffe47e2-ef25-42dc-a901-29699c8347e5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
